*{
    box-sizing: border-box;
}


.styleamount{
    color: red;
}


.stylebutton{
    color: red;
    font-style: italic;
    font-size: '11px';
}

.styleError{
    color: red;
    font-style: italic;
    font-size: 10px;
}



.place::placeholder{
    color: rgb(255, 255, 255);

    font-size: '50px';
}

.overlay{
    background-color: black;
    z-index: 2;
    position: absolute;
}

.tableHead{
    font-family: 'Times-Roman','Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: bolder;
    color: brown;
}